* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    /* overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}


body {
    background: linear-gradient(to right, rgb(5, 12, 90), rgb(2, 6, 61));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    height: 75px;
    width: 100vw;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(5, 12, 90), rgb(2, 6, 61));
}

#logo {
    height: 75px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    height: 75px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#action {
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;        

}

#action a:nth-child(3) {
    background-color: #006de0;
}

.navEle {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.navEle:hover {
    background-color: rgba(255, 255, 255, 0.112);
}

main {
    width: 80vw;
    margin-top: 4.275rem;
}



#title {
    text-align: center;
    padding: 15px;
    color: white;
}

#title h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 1.7;
}

#title p {
    font-size: clamp(1rem, 2.7vw, 2rem);
    line-height: 1.7;
}

#content {
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 1.25rem;
    box-shadow: 0 15px 20px -2px rgba(0, 0, 0, 0.51);
}

#subnav {
    height: 3rem;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 100px;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;

}

.option {
    background-color: #313f5b;
    font-size: .8rem;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#amountbox {
    border: 1px solid #4d4d4d;
    border-radius: 0.5rem;
    width: calc(33% - 5px);
    height: 4rem;
    display: flex;
    flex-wrap: nowrap;

}

#amountbox:hover {
    background-color: rgb(244, 244, 244);
}

#amountbox.active {
    border: 2px solid #016ce0;
}

#symbol {
    width: 65px;
    height: 100%;
}

#amount {
    width: 100%;
    height: 33%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currencyIcon {
    width: 100%;
    height: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}

#textarea {
    width: calc(100% - 65px);
    height: 100%;
    padding: 20px 10px 0 10px;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    overflow: scroll;
}

#textarea:focus {
    outline: none;
}

#countryDiv {
    width: calc(66% - 5px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.country {
    border: 1px solid #4d4d4d;
    border-radius: .5rem;
    height: 4rem;
    display: flex;
    flex-wrap: nowrap;
    width: calc(50% - 5px);
}

.country.active {
    border: 2px solid #016ce0;
}

.C-symbol {
    width: 50px;
    height: 100%;
}

.from-to {
    width: 100%;
    height: 33%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countryFlag {
    width: 100%;
    height: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countryName {
    width: calc(100% - 50px);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countryNameDisplay {
    height: 100%;
    width: 100%;
    padding: 20px 10px 0 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    font-size: large;
    font-weight: 700;
}

.dropdown {
    height: 300px;
    width: 330px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: calc(100% + 15px);
    left: -15px;
    z-index: 15;
    overflow: scroll;
    display: none;
}

.country-bar {
    /* border: 1px solid red; */
    width: 100%;
    height: 35px;
    display: flex;
    cursor: pointer;
}

.country-bar:hover {
    background-color: rgb(221, 221, 221);
}

.flag {
    /* border: 1px solid blue; */
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countrynamesymbol {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 10px;
    font-size: smaller;
    font-weight: bold;
    white-space: nowrap;
}

#convertBtnDiv {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding: 0 5px;
    gap: 10px;
}

#result {
    /* border: 2px solid rgb(77, 77, 77); */
    border-radius: .5rem;
    height: 5rem;
    width: calc(80% - 10px);
}

#convertBtn {
    border-radius: .5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    width: calc(20% -10px);
    font-size: larger;
    font-weight: bolder;
    background-color: #016ce0;
    color: white;
    cursor: pointer;
}

/* Tablet */
/* @media (max-width: 1024px) {
    main {
        width: calc(100vw - 80px);
    }
} */

/* Phone */
/* @media (max-width: 767px) {
    main {
        width: calc(100vw - 30px);
    }

    #amountbox {
        width: 100%;
    }

    #countryDiv {
        width: 100%;
    }

    .country {
        padding: 26px;
    }

    .input {
        width: 100%;
    }
} */

.custom-shape-divider-bottom-1747596149 {
    position: absolute;
    top: -500px;
    left: 0;
    z-index: -5;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1747596149 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1747596149 .shape-fill {
    fill: #4e6688;
}

footer {
    width: 100vw;
    position: relative;
    margin-top: 5vh;
    padding-top: 15vh;
    background: linear-gradient(to bottom, #4e6688, #1d2633);
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
}

.x {
    color: white;
    width: calc(100% / 3);
    height: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.x * {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.x> :first-child::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -10px;
    height: 4px;
    width: 100px;
    background-color: rgb(1, 74, 59);
}


#copyright {
    text-align: center;
    color: #113d3c;
    background-color: #d89934;
    width: 100%;
    font-size: smaller;
}